@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:   rgb(246, 247, 247);
}

.box {
  position: relative;
  width: 380px;
  height: 560px;
  background:  rgb(76, 35, 146)	;
  border-radius: 8px;
  overflow: hidden;
  color:  rgb(246, 247, 247)
}

h2 {
  color:  rgb(246, 247, 247);
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 40px !important;
}

#root > div > form > input.form.my-2.form-control,
#root > div > form > input:nth-child(3) {
  background: transparent;
  border: none;
  outline: 1px solid;
  color: rgb(246, 247, 247);
  font-size: 1em;
  letter-spacing: 0.05em;
}

#root > div > form > input::placeholder{
  color:#fff
}

.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  margin: 31px 0;
  font-size: 0.85em;
  color:  rgb(246, 247, 247);
  text-decoration: none;
}
.links a:hover,
.links a:nth-child(2) {
  color: rgb(246, 247, 247);
}

#root > div > form > button {
  border: 2px solid  rgb(246, 247, 247);
  outline: none;
  background: transparent;
  color: #fff;
  padding: 11px 25px;
  width: 100px;
  margin-top: 40px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

#root > div > form > button:hover {
  background: rgb(246, 247, 247);
  color: rgb(246, 247, 247);
}

#root > div.box > form > button:nth-child(6) {
  height: 65px;
    margin-left: 1px;
    margin-bottom: 10px;
}

#root > div.box > form > button.btn.btn-primary {
  margin-left: 88px;
  margin-bottom: 10px;
}