body > div.fade.modal.show > div > div > div.modal-header > div {
    color:rgb(76, 35, 146);
}

body > div.fade.modal.show > div > div > div.modal-body > div > form > div:nth-child(3) > textarea {
    width: 413px;
}

body > div.fade.modal.show > div > div > div.modal-header {
    background-color: rgb(201, 190, 221);
}
body > div.fade.modal.show > div > div > div.modal-body > div > form > div:nth-child(2) > select {
    margin-bottom: 10px;
    margin-left: 172px;
}

body > div.fade.modal.show > div > div > div.modal-body > div > form > div.mt-8 > button:nth-child(1) {
   border-radius: 5px;
   margin-right: 10px;
   margin-left: 148px;
   padding: 2px;
   background-color: rgb(76, 35, 146)!important;
   color: rgb(247, 247, 248);
}
